@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  width:960px;
  line-height: 1.5;
  font-family: 'Source Sans Pro', sans-serif;
  margin:10px 20px 10px 20px;
  margin-top:auto;


}

header {
  width: 115%;
  position: relative;
  left:6%;
  padding: 10px;
  padding-left: 70px;
  text-align: center;
  background: rgb(99, 94, 94);
}
nav {
  display : flex; align-items: center
}
header nav a {
  padding: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

section {
  display: block;
  margin-right:auto;
  margin-left: auto;
  margin-top: 30px;
  width: 75%;
}

div {
  display : flex; justify-content: space-between; align-items: center;
  margin-top: 30px;
  position: relative;
  left: 12.5%;
  
}


article img{
  padding-top: 30px;
  position: relative;
  left: 12.4%;
}

article h1{
  position: relative;
  left: 65%;
  bottom: 410px;
  font-weight: bold;
}

article p {
  height: 335px;
  overflow: scroll;
  width: 453px;
  position:relative;
  bottom: 400px;
  left: 65%;
}

article{
  padding-bottom: 30px;
}

article button {
  position: relative;
  bottom: 398px;
  left: 65%;
  width: 200px;
  height: 35px;
}

article button:hover {
  background-color: purple;
  color: white;
}

footer {
  width: 115%;
  position: relative;
  left:6%;
  padding: 10px;
  padding-left: 70px;
  text-align: center;
  background: rgb(99, 94, 94);
  color: #fff;
  clear:both;

}
